.quiz-main-page
{
 width: 100%;
 height: calc(100% - 90px);
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgba(5, 17, 21, 1);
}

.quiz-main-page-left
{
padding: 80px 40px;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-right: 1px solid rgba(255, 255, 255, 0.825);
}
.quiz-main-page-left-ques
{
 font-size: 25px;
 font-weight: 600;
 color: white;
 margin-bottom: 20px;
}
.quiz-main-page-left-ques-ans
{
 font-size: 25px;
 font-weight: 600;
 color: white;
}
.quiz-main-page-left-option
{
 width: 100%;
 margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    font-size: 16px;
    font-weight: 600;
    color: white;

}
.quiz-main-page-left-option-block
{
 padding: 22px 12px;
 border: 1px solid rgba(193, 189, 189, 0.293);
 width: 100%;
 display: flex;
 gap: 10px;
}
.quiz-main-page-right-main
{
flex-grow: 1;
 height: 100%;
}
.quiz-main-page-right
{
  width: 100%;
  display: grid;
    grid-template-columns: 6fr 6fr 6fr 6fr;
    justify-items: center;
    max-height: 788px;
    overflow: auto;
    padding: 19px;
    cursor: pointer;
    height: 50%;
    overflow: scroll;


}
.quiz-main-page-right>div
{
 padding: 10px 10px;
 height: fit-content;
 color: white;
 font-weight: 700;
 border-radius: 12px 12px 5px 5px;
 background-color: rgba(193, 185, 186, 0.466);
 /* border: 1px solid black; */
}
.quiz-main-page-right-submit
{
 width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 22px;
    font-weight: 600;
    color: white;
}
.quiz-main-page-right-submit>button
{
 width: 100px;
 padding: 12px;
 /* background-color: ; */
 border: none;
 outline: none;
 color: white;
 background-color: green;
 border-radius: 8px;
 font-size: 16px;
 font-weight: 600;
}